<!doctype html>
<html lang="en" ng-app="demoApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="/static/main.js"></script>
</head>
<body ng-controller="DemoController">
<input type="text" ng-model="api_url">
<input type="button" value="test" ng-click="test()">
<h2>Responses</h2>
<table>
    <tr ng-repeat="response in responses">
        <td>{{ response.num }}</td>
        <td>{{ response.i }}</td>
        <td>{{ response.body }}</td>
    </tr>
</table>
</body>
</html>